In [205]:
import numpy as np
import pandas as pd
import datetime as dt

In [214]:
prices = pd.read_csv('prices.csv')
sales = pd.read_csv('sales.csv')

In [215]:
prices['updated_at'] = pd.to_datetime(prices['updated_at'])
sales['ordered_at'] = pd.to_datetime(pd.to_datetime(sales['ordered_at']).dt.strftime('%Y-%m-%d %H:%M:%S'))

In [216]:
prices.info()
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   product_id  14 non-null     int64
 1   old_price   14 non-null     int64
 2   new_price   14 non-null     int64
 3   updated_at  14 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(3)
memory usage: 576.0 bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   product_id        175 non-null    int64
 1   ordered_at        175 non-null    datetime64[ns]
 2   quantity_ordered  175 non-null    int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 4.2 KB

In [217]:
print(
    s_prices.head(10)
)
print(
    sales.head(10)
)

    product_id  old_price  new_price          updated_at
0           64     270000     239000 2018-09-10 16:37:00
4      3954203      68800      60000 2018-09-10 16:32:00
1      3954203      60000      64000 2018-09-11 11:54:00
3      3954203      64000      60500 2018-09-15 03:49:00
2      3954203      60500      57500 2018-09-17 22:59:00
7      3998909      19000      17000 2018-09-10 16:35:00
6      3998909      17000      15500 2018-09-13 06:43:00
5      3998909      15500      16500 2018-09-16 05:09:00
11     4085861      60000      53500 2018-09-11 08:51:00
9      4085861      53500      67000 2018-09-12 03:51:00
   product_id          ordered_at  quantity_ordered
0     3998909 2018-09-18 17:51:00                 1
1     3998909 2018-09-18 12:52:00                 1
2     3998909 2018-09-18 11:33:00                 1
3     3998909 2018-09-18 18:47:00                 1
4     3998909 2018-09-18 17:36:00                 1
5     3998909 2018-09-17 19:09:00                 1
6     3998909 2018-09-18 16:02:00                 1
7     3998909 2018-09-17 22:29:00                 1
8     3998909 2018-09-18 19:46:00                 2
9     3998909 2018-09-18 11:02:00                 1

In [197]:
s_prices = prices.sort_values(['product_id', 'updated_at'])

In [198]:
[id, time] = sales.loc[1, ['product_id', 'ordered_at']]

In [221]:
id = 3998909
time = pd.to_datetime('2018-09-16 16:35:00')

In [108]:
print([id, time])

[3954203, Timestamp('2018-09-09 16:35:00')]

In [107]:
print(
    prices[(prices.product_id == id)]
)

   product_id  old_price  new_price          updated_at
1     3954203      60000      64000 2018-09-11 11:54:00
2     3954203      60500      57500 2018-09-17 22:59:00
3     3954203      64000      60500 2018-09-15 03:49:00
4     3954203      68800      60000 2018-09-10 16:32:00

In [34]:
print(
    s_prices[(s_prices.product_id == id)].iloc[0]
)

product_id                3998909
old_price                   19000
new_price                   17000
updated_at    2018-09-10 16:35:00
Name: 7, dtype: object

In [39]:
def returned(id, time):
    return s_prices[(id == s_prices.product_id) & (time > s_prices.updated_at )]
returned(id, time)

max(returned(id, time).updated_at)

Timestamp('2018-09-16 05:09:00')

In [51]:
prices[(id == prices.product_id) & (time > prices.updated_at )]

Empty DataFrame
Columns: [product_id, old_price, new_price, updated_at]
Index: []

In [219]:
max_update = prices[(id == prices.product_id) & (time > prices.updated_at )].updated_at.max()

get_price = prices[(prices.product_id == id) & (prices.updated_at == max_update)].new_price

if get_price.empty == True:
    min_update = prices[(id == prices.product_id)].updated_at.min()
    get_price = prices[(prices.product_id == id) & (prices.updated_at == min_update)].old_price
print(get_price)

3    60500
Name: new_price, dtype: int64

In [201]:
def returned(id, time):
    max_update = prices[(id == prices.product_id) & (time > prices.updated_at )].updated_at.max()

    get_price = prices[(prices.product_id == id) & (prices.updated_at == max_update)].new_price

    if get_price.empty == True:
        min_update = prices[(id == prices.product_id)].updated_at.min()
        get_price = prices[(prices.product_id == id) & (prices.updated_at == min_update)].old_price
    
    return(get_price)

In [141]:
sales['price_applied'] = 1
print(sales['price_applied'] )

0      1
1      1
2      1
3      1
4      1
      ..
170    1
171    1
172    1
173    1
174    1
Name: price_applied, Length: 175, dtype: int64

In [202]:
sales['pricess'] = pd.Series(dtype='int')

sales.head()

   product_id          ordered_at  quantity_ordered  pricess
0     3998909 2018-09-18 17:51:00                 1      NaN
1     3998909 2018-09-18 12:52:00                 1      NaN
2     3998909 2018-09-18 11:33:00                 1      NaN
3     3998909 2018-09-18 18:47:00                 1      NaN
4     3998909 2018-09-18 17:36:00                 1      NaN

In [174]:
new_series = pd.Series(dtype='int64')

In [203]:
for i in sales.index:
         sales.pricess[i] = returned(sales.product_id[i], sales.ordered_at[i])

<ipython-input-203-ef8637449f0d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales.pricess[i] = returned(sales.product_id[i], sales.ordered_at[i])

In [222]:
def returned(id, time):
    max_update = prices[(id == prices.product_id) & (time > prices.updated_at )].updated_at.max()

    get_price = prices[(prices.product_id == id) & (prices.updated_at == max_update)].new_price

    if get_price.empty == True:
        min_update = prices[(id == prices.product_id)].updated_at.min()
        get_price = prices[(prices.product_id == id) & (prices.updated_at == min_update)].old_price
    
    return(get_price)

In [223]:
returned(id, time)

5    16500
Name: new_price, dtype: int64

In [256]:
    max_update = prices[(id == prices.product_id) & (time > prices.updated_at )].updated_at.max()

    get_price = prices[(prices.product_id == id) & (prices.updated_at == max_update)].new_price

    if get_price.empty == True:
        min_update = prices[(id == prices.product_id)].updated_at.min()
        get_price = prices[(prices.product_id == id) & (prices.updated_at == min_update)].old_price

In [257]:
print((get_price))

5    16500
Name: new_price, dtype: int64

In [260]:
x = [0]*10
y = pd.array(x)
y[1] = get_price

In [261]:
print(
    y
)

<IntegerArray>
[0, 16500, 0, 0, 0, 0, 0, 0, 0, 0]
Length: 10, dtype: Int64